@import 'tailwindcss';

@font-face {
  font-family: 'Heading' ;
  src: url('./assets/fonts/SchibstedGrotesk-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Heading-Italic';
  src: url('./assets/fonts/SchibstedGrotesk-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Body-Italic';
  src: url('./assets/fonts/Geist-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Body';
  src: url('./assets/fonts/Geist-Regular.woff2') format('woff2');
}

@theme {
  --font-body: 'Body', sans-serif;
  --font-heading: 'Heading', sans-serif;

  --color-teal-1: #0F766E;
  --color-teal-2: #115E59;

  --color-green-1: #10B981;
  --color-green-2: #ECFDF5;

  --color-slate-1: #0F172A;
  --color-slate-2: #334155;
  --color-slate-3: #64748B;

  --color-surface-1: #FFF;
  --color-surface-2: #F8FAFC;
  --color-surface-3: #F0FDFA;

  --color-border-color: #E2E8F0;
  
  --color-warning-1: #F59E0B;
  --color-warning-2: #FFFBEB;

  --color-danger-1: #EF4444;
  --color-danger-2: #FEF2F2;
  --color-danger-3: #FCA5A5;


}

#root {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--color-surface-2);
  color: var(--color-slate-1);
}
